/*Univeral selectors for webpage */
* {
    padding:0;
    margin: 0;
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
    text-transform: uppercase;
    box-sizing: border-box;
    color: white;
    letter-spacing: 2px;
    scroll-behavior: smooth;
}

/*Sets display/look for Navigation bar */
nav {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    height: 100px;
    display: flex;
    background-color:black;
    position:fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

/*Sets display for sections on webpage*/
nav ul{
    margin: auto;
    padding: 10px;
}

nav li {
    list-style-type: none;
    display: inline;
    padding: 50px;
    justify-content: space-evenly;
}

nav li a{
    color: white;
    text-decoration: none;
 
}

/*Hover settings for each section on Nav bar*/
nav a:hover {
    background-color: #6FEA8B;
    color: black;
    transition: ease .5s;
    
}
/*Header display & background image*/
header {
    height: 775px;
    padding-top: 100px;
    font-size: 50px;
    text-align: center;
    background: url("./Images/background.jpeg")

}

#header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header h3 {
    text-align: center;
    font-size: 40px;
    padding: 50px;
    color: white;
}

/* sets display for main section*/
main{
    margin: auto;
    padding: 80px;
    background-color: black;
}

main h3 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

/*sets container for about me section*/
.box {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin: auto;

}

/*sets main about me section*/
#about-me {
    min-height: 800px;
    border-style: solid;
    border-color: limegreen;
    margin-top: 70px;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box p {
    justify-self: left;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/*sets about me image*/
#about-me img {
    width: 270px;
    height: 370px;
    padding: 5px;
    border: 2px solid limegreen;
    margin-bottom: 10px;
    
}

/*sets container for portfolio*/
.box-portfolio {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: solid limegreen;
    padding: 50px;
    margin-top: 70px;
    
}

.box-portfolio h3 {
    flex-direction: column;
    margin-top: 50px;
}

/*sets my first application elements*/
.first-app {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

.first-app h5 {
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.first-app img{
    height: 300px;
    width: 400px;
    border: 1px solid limegreen;
    margin-bottom: 20px;
    padding: 5px;
}


/*sets my other application elements*/
.other-apps {
    text-align: center;
    padding: 10px;
    justify-content: space-between;
    margin-top: 10px;
}

.other-apps img {
    height: 200px;
    width: 300px;
    border: 1px solid limegreen;
    


}

/*container for contact section*/
#contact-me {
    min-height: 800px;
    border-style: solid;
    border-color: limegreen;
    margin-top: 70px;
    padding: 90px 0;
}

.contact-me p{
    justify-content: center;
    padding: 30px;
    height: min-content;
    max-width: 500px;
    text-align: center;
}

/*sets contact form display*/
form {
    max-width: 400px;
    margin: auto;
    align-items: center;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.submit-button {
    margin-top: 20px;
}

/*sets display for name and email sections of form*/
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 3px solid limegreen;
    border-radius: 5px;
    text-align: center;
}

/*sets display for submit button*/
button[type="submit"] {
    background-color: limegreen;
    color: black;
    padding: 20px 30px;
    border: 2px dotted black;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.3s;
}

/*sets hover display for submit button*/
button[type="submit"]:hover {
    background-color: white;
    color: limegreen;
}

/*sets display of social media links*/
.socials {
    text-align: center;
    padding-top: 30px;
}

.socials a,img {
    height: 50px;
    width: 50px;
    padding: 4px;
    margin: 0 5px;
    text-decoration: none;
    
}

    
@media screen and (max-width: 1024px), (max-width: 968px) {
    nav {
        flex-direction: column;
        height: auto;
    }

    body{
        flex-direction: column;
    }

    #about-me img{
        width:100%;
        max-width: 250px;
        height: auto;
    }
}

@media screen and (max-width: 768px), (max-width: 480px) {
    nav {
        font-size: 15px;
    }
    #header {
        font-size: 30px;
    }

    #about-me img {
        width: 175px;
        height: 275px;
    }
    
    .first-app img {
        width: 300px;
        height: 200px;
        align-items: center;
    }

    .other-apps img {
        width: 250px;
        height: 150px;
    }
    
}
